<h1>Park Info</h1>
<div id="parkInfo">
	<div id="parkForm">
		<div ng-bind="parksCtrl.park.name"></div>
		<div ng-bind="parksCtrl.park.formatted_address"></div>
		<div ng-bind="parksCtrl.park.formatted_phone_number"></div>
		<button ng-click="parksCtrl.addToPark()">Add me</button>
		<button ng-click="parksCtrl.removeFromPark()">Remove me</button>
	</div>
		<h2>List of users in this park:</h2>
			<ul>
				<li ng-repeat="user in users">{{user}}</li>

			</ul>

	<div id="chatroom">
		<chat></chat>
	</div>
</div>