*{
	font-family: 'Josefin Sans', 'Open Sans', sans-serif;
	text-decoration: none;
	font-size: 1em;
	margin: 0 auto;
	padding: 0 auto;
}

#main #welcome{
	width: 100%;
	background-color: #c5d5cb;
	background-image: url("https://images.unsplash.com/photo-1448542146881-1d78dfb2f674?crop=entropy&fit=crop&fm=jpg&h=1450&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=2575");
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}
#container #main{
	width:100%;
	max-height: inherit;
	text-align: center;
	color: #fff;
	font-size: 1em;
}
/*==============Welcome Partial =========================*/
#welcome h1{
	font-size: 7em;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	vertical-align: top;
	color: #247BA0;
	opacity: .8;
}

#errMsg{
	font-size: 2em;
	color: rgb(254,78,124);
}

#regForm, #logForm{
	padding-top: 2%;
	padding-bottom: 10%;
	margin-top:5%;
	display: inline-block;
	padding: 2%;
	border: 2pt solid white;
	background-color: rgba(59,184,140, 0.3);
	background: transparent .3;
}
#regForm h2, #logForm h2{
	margin-bottom: 2%;
	font-size: 1.5em;
}

#welcome #logForm button, #welcome #regForm button {
	margin-top: 5%;
    background-color: transparent;

    border: 1pt solid white;
    cursor:pointer;
    color: white;
    overflow: hidden;
    outline: gray;
}
#logForm{
	margin-bottom: 25%;
}
#welcome #logForm button:hover, #welcome #regForm button:hover{
	background-color: #5c6b73;
}
#welcome .input, #welcome .input2{
	color: white;
	background: transparent;
	border: 1pt solid white;
	font-weight: bold;
}
#RegForm #button{
	background: transparent;
}

/*==============end of Welcome Partial =================*/


/*==============Dashboard Partial =========================*/
#main #dashboard{
	width: 100%;
	height: 100%;
	background-color: #c5d5cb;
	display: inline-block;
	position: relative;
}
#courts #welcomeMsg{
	display: inline-block;
	text-align: center;
	width:100%;
	height: 10%;
	margin-top: 4%;
	font-size: 3em;
	margin-bottom: 3%;
}

/*-map related-*/
#map{
	border-bottom: 2pt solid white;
	border-top: 2pt solid white;
	display: block;
	position: absolute;
	height: inherit;
	width: 100%;
}
/*-end of map related-*/

/*-court  info links related-*/
#courts{
	height: 50%;
	text-align: center;
	display: block;
	background-color: rgb(116,206,124);
	width: 100%;
	color: #fff;
	font-size: 2em;
	position: relative;
}
#courts p{
	font-size: 3em;
	color: #404040;
	padding-bottom: 2%;
}
#courts ul{
	padding: 1%;
	list-style: none;
}
#courts ul a:link{
	cursor: hand;
	padding:1%;
	color: #fff;
}
#courts ul a:active{
	color: #558C89;
}
#courts ul a:hover{
	cursor: pointer;
	color: #ECECEA;
}
/*-end of court info links related -*/

/*-chatroom related -*/
#chatroom{
	height: 10%;
	border-top: 2pt solid white;
	border-top: 2pt solid white;
	display: block;
	margin-top: 30%;
	padding-bottom: 2%;
	text-align: center;
	width: 100%;
	background-color: #58A4B0;
	position: relative; 
}
.chatroom #m{
	padding: 2%;
	background-color: transparent;
}
.chatroom .chatInput{
    background-color: transparent;
}
.chatroom p{
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	color: #404040;
}
.chatroom #message{
	background-color: rgba(35,35,35, 0.3); 
	background: transparent 0.3;
	border: 2pt solid white;
	width: 50%;
	margin-bottom: 5%;
}
.chatroom #submit{
	background-color: transparent;
	border: 2pt solid white;
	color: white;
}
.chatroom #submit:hover{
	background-color: rgba(35,35,35, 0.6);
    background: transparent 0.6;
}

/*-end of chatroom related -*/
/*==============end of Dashboard Partial =========================*/


/*==============parkInfo Partial =========================*/
#main #parkInfo{
	margin: 0 auto;
	padding: 0 auto;
	display: inline-block;
	background-color: #0E7172;
	width: 100%;
	font-size: 1em;
}
#parkInfo h1{
	padding: 2%;
	font-size: 3em;
}
#parkInfo #parkRules{
	width: 50%;
	border: 2pt solid white;
	display: inline-block;
	vertical-align: top;
	padding: 1%;
	margin: 1%;
	background-color: #247BA0;
	background-opacity: .7;
	color: white;
	padding: 1%;
	font-size: 2em;
}
#parkRules p{
	text-align: left;
	margin:1%;
	padding:1%;
}
#parkInfo h2{
	padding-top: 2%;
	font-size: 2em;
}
#parkForm{
	font-family: 'Open Sans';
	border: 2pt solid white;
	background-color: #133F62;
	width: 50%;
	display: inline-block;
	position: center;
	font-size: 2em;
	padding: 1%;
}
.parkButton{
	margin: 1%;
	padding: 1%;
	margin-top: 2%;
	background-color: transparent;
	border: 2pt solid white;
	color: white;
}
.parkButton:hover{
	background-color: rgba(255,255,255, 0.6);
    background: transparent 0.6;
    color: #133F62;
}
.parkButton a, .parkButton a:active, .parkButton a:visited{
	color:#fff;
}
#parkInfo ul{
	color: #fff;
	list-style: none;
	font-size: 2em;
}
